:root {
  --muted-text-color: #6c757d;
  --white: #ffffff;
  --black: #000000;
  --secondary-color: #0D6EFD;
  --border-color: #dee2e6;
  --border-color-darker: #adb5bd;
  --background-color: #f8f9fa;
  --primary-color: #212529;
  --transparent-color: rgba(0, 0, 0, 0);
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.muted-text {
  color: var(--muted-text-color);
}

.secondary-text {
  color: var(--secondary-color);
}

.underlined-text {
  text-decoration: underline;
  text-underline-offset: 0.25em;
  text-decoration-thickness: 2px;
}

.card-badge-text {
  background-color: var(--background-color);
  border: 1px solid var(--secondary-color);
  border-radius: 0.75rem;
  padding: 0.25rem 0.5rem;
  align-self: center;
}

.table-border {
  border: 1px solid var(--border-color);
}

.border-gray {
  border-color: var(--border-color);
  border-width: 2px;
}

.border-secondary {
  border-color: var(--secondary-color);
  border-width: 2px;
}

.form-action-button {
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
  border-radius: 0.50rem;
}

.submit-button {
  border: 1px solid var(--transparent-color);
  background-color: var(--secondary-color);
  color: var(--white);
  border-radius: 0.75rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.form-action-button:hover {
  background-color: var(--secondary-color);
  color: var(--white);
}

.submit-button:hover {
  background-color: var(--background-color);
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.application-card {
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  padding: 1rem;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border: 1px solid var(--border-color-darker);
  border-radius: 0.25rem;
  padding: 1rem;
}

.navbar .nav-link.active {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.4em;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}